<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ site.title }}</h2>
        <p>API Version: v1.0</p>
        <p><a href="http://www.piecemeta.com">www.piecemeta.com</a></p>
    </div>
    <div class="list-group" id="accordion">
        {% for post in site.posts %}
        {% if post.category == null %}
        <a href='#{{ post.url }}' class="list-group-item" data-parent="#accordion">
            <h4 class="list-group-item-heading">{{ post.title }}</h4>
        </a>
        {% endif %}
        {% endfor %}
        {% for category in site.categories reversed %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ category | first }}">{{ category | first | capitalize }}</a>
            </h4>
            <div class="list-group-item-text collapse" id="collapse-{{ category | first }}">
                <ul>
                    {% for posts in category %}
                    {% for post in posts %}
                    {% if post.title != null %}
                    <li><a href="#{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
